@import "tailwindcss";

@theme {
  --color-brand-50: #eef6ff;
  --color-brand-100: #d9eaff;
  --color-brand-500: #1d6fd6;
  --color-brand-600: #1558ad;
  --color-brand-700: #10437f;
  --color-brand-900: #0b2c54;
}

html, body, #root {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
}
